body {
    background-color: grey;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

#box1 {
    width: 200px;
    height: 200px;
    border: 1px solid #ffd166;
    background-color: #ef476f;
    transition: background-color 1s linear, width 2s linear;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

#box1:hover {
    width: 300px;
    height: 300px;
    border: 2px dashed #073b4c;
    background-color: #118ab2
}

#box2 {
    width: 200px;
    height: 200px;
    border: 1px solid #d9ed92;
    background-color: #184e77;
    transition-duration: 2s;
    transition: background-color 2s linear;
    transition-timing-function: ease-out;
}

#box2:hover {
    border: 5px dotted #184e77;
    background-color: #99d98c;
    box-shadow: 10px 5px 5px #1a759f;

}

#box3 {
    width: 200px;
    height: 200px;
    border: 1px solid #780000;
    background-color: #c1121f;
    transition: all 1s linear;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}

#box3:hover {
    background-color: #fdf0d5;
    border: 10px solid #003049;
    grid-column: 1 / -1;
    
}

#box4 {
    width: 200px;
    height: 200px;
    border: 10px solid #e0fbfc;
    transition: all 2s linear;
    background-color: #ee6c4d;
    transition-timing-function: ease-out;
    transition-duration: 3s;
}

#box4:hover {
    width: 500px;
    height: 600px;
    background-color: #e0fbfc;
    border: 3px dotted #ee6c4d;
}

#box5 {
    width: 200px;
    height: 200px;
    border: 1px solid #d00000;
    transition: all 2s linear;
    transition-duration: 1500ms;
    transition-timing-function: ease;
    background-color: #03071e;
}

#box5:hover {
    background-color: #ffba08;
    border: 3px solid #9d0208;
    border-radius: 25% 10%;
}


#box6 {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    background-color: #ff206e;
    transition: all 2s linear;
    transition-delay: 1s;
    transition-duration: 3s;
}

#box6:hover {
    border-radius: 100px;
    background-color: #41ead4;
    border: 10px dashed #ff206e;
}