body {
    background-color: #111111;
}
h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 100px;
}
p {
    color: #eeeeee;
    font-size: 30px;
    line-height: 2.0;
}
p .credits {
    text-decoration: underline;
    color: #49DAFF;
}
p .credits:hover {
    color: aquamarine;
}
#film-description {
    font-size: 15px;
    font-style: italic;
}